body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#books-section{
  display: grid;
  grid-template-columns: repeat(auto-fit, 25ch);
  gap: 1rem;
  justify-content: center;
}


.hidden {
  display: none;
}

.not-read::before{
  content: "NOT ";
}
